# Web Scraping / Browser Automation
undetected-chromedriver
selenium
googletrans
beautifulsoup4
requests

# Streamlit App
streamlit
pandas
numpy
PyYAML
joblib

# Machine Learning / NLP
scikit-learn
torch